.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.ActiveOption{
    display: flex;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: goldenrod;
    text-decoration: none;
    color: black ;
}
.Option{
    text-decoration: none;
    color: black ;
}

.carrito-img{
    width: 3rem;
}

.navh1{
    color: black ;
    text-decoration: none;    
}