.Controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.Button{
    background-color: grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
}